.createx{
  padding: 180px 0;
  &__content{
    display: flex;
    column-gap: 135px;
  }
  &__left{
    width: 60%;
    img{
      width: 100%;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin:40px 0 48px;
    &-item{
      display: flex;
      column-gap: 16px;
      &-text{
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
      }
    }
  }
  &__btn{
    width: 161px;
    height: 44px;
  }
}